// Place all the styles related to the PaginaPrincipal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#index {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}